<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>추가화면</title>

</head>
<body>
	<form action="add_act" method="post">
	<table border="1">
		<tr>
			<td>사번</td>
			<td><input type="text" name="e_id" /></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="e_name" /></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" name="sex" /></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" name="addr" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="추가하기" />
			</td>
		</tr>
	</table>
	</form>

</body>
</html>