<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수정화면</title>

</head>
<body>
	<form action="mod_act" method="post">
	<table border="1">
		<tr>
			<td>사번</td>
			<td><input type="text" name="e_id" value="{{emp.e_id}}"/></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="e_name" value="{{emp.e_name}}"/></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" name="sex" value="{{emp.sex}}"/></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" name="addr" value="{{emp.addr}}"/></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="수정하기" />
			</td>
		</tr>
	</table>
	</form>

</body>
</html>